<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="score-four-board.html">

<polymer-element name="score-four-game">
  <template>
    <score-four-board
      columns="{{columns}}"
      on-column-select="{{playColumn}}">
    </score-four-board>
  </template>
  <script>
  Polymer({
    columns: [
      [],
      [],
      [],
      [],
      [],
      [],
      []
    ],
    currentPlayer: "red",
    playColumn: function(event, details, sender){
      var column_index = details.col;
      if( this.columns[column_index].length == 6 ){
        return false;
      }
      this.columns[column_index].push(this.currentPlayer);
      this.togglePlayer();
    },
    togglePlayer: function(){
      if( this.currentPlayer == "red" ){
        this.currentPlayer = "black";
      } else {
        this.currentPlayer = "red";
      }
    }
  });
  </script>
</polymer-element>
