<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/score-four-game-cell.html">

<polymer-element name="score-four-game-column" attributes="pieces">
  <template>
    <style>
    :host {
      flex-grow: 0;
      background-color: #3333FF;

      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    </style>
    <score-four-game-cell piece="{{pieces[5]}}"></score-four-game-cell>
    <score-four-game-cell piece="{{pieces[4]}}"></score-four-game-cell>
    <score-four-game-cell piece="{{pieces[3]}}"></score-four-game-cell>
    <score-four-game-cell piece="{{pieces[2]}}"></score-four-game-cell>
    <score-four-game-cell piece="{{pieces[1]}}"></score-four-game-cell>
    <score-four-game-cell piece="{{pieces[0]}}"></score-four-game-cell>
  </template>
  <script>
  Polymer({
    pieces: []
  });
  </script>
</polymer-element>
