<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/score-four-game-cell.html">

<polymer-element name="score-four-game-column">
  <template>
    <style>
    :host {
      flex-grow: 0;
      background-color: #3333FF;

      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    </style>
    <score-four-game-cell></score-four-game-cell>
    <score-four-game-cell></score-four-game-cell>
    <score-four-game-cell></score-four-game-cell>
    <score-four-game-cell></score-four-game-cell>
    <score-four-game-cell></score-four-game-cell>
    <score-four-game-cell></score-four-game-cell>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
