<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="score-four-game-cell" attributes="piece">
  <template>
    <style>
    :host {
      flex-grow: 1;
      padding: 10px;
    }

    div.circle {
      background-color: white;
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    @media (max-width: 900px) {
      :host {
        padding: 7px;
      }
      div.circle{
        width: 75px;
        height: 75px;
      }
    }

    @media (max-width: 700px) {
      :host {
        padding: 5px;
        min-width: 75px;
      }
      div.circle{
        width: 60px;
        height: 60px;
      }
    }

    div.circle.red {
      background-color: red;
    }
    div.circle.black {
      background-color: black;
    }
    </style>
    <div class="cell"><div class="circle {{piece}}"></div></div>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
