<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/score-four-game-column.html">

<polymer-element name="score-four-game">
  <template>
    <style>
    :host {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
    </style>
    <score-four-game-column></score-four-game-column>
    <score-four-game-column></score-four-game-column>
    <score-four-game-column></score-four-game-column>
    <score-four-game-column></score-four-game-column>
    <score-four-game-column></score-four-game-column>
    <score-four-game-column></score-four-game-column>
    <score-four-game-column></score-four-game-column>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
